#pane {
    position: relative;
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 4vh 8vh;
    background: rgba(253, 251, 254, 0.74);
    border: 0.2vh solid black;
    z-index: 1;
}

#pane h2 {
    text-align: center;
    padding-bottom: 1vh;
    margin: auto;
    width: 20vh;
    border-bottom: 0.2vh solid black;
}

#cart {
    margin-top: 2vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

#products-table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    border-top: 0.25vh solid;
    border-bottom: 0.25vh solid;
}

#products-table p {
    margin-bottom: 1.5vh;
    margin-top: 1.5vh;
}

#dpd-div {
    position: relative;
    margin-bottom: 2vh;
}

#products-price-total {
    margin-top: 1.5vh;
    text-align: right;
}

#dpd-pickup-point-select {
    display: block;
    width: 40vh;
    margin-top: 1vh;
}

#omniva-pickup-point-select {
    display: block;
    width: 40vh;
    margin-top: 1vh;
}

#transport {
    margin-top: 2vh;
    margin-bottom: 5vh;
}

.transport-type {
    display: flex;
    flex-direction: row;
}

.transport-type input {
    margin-top: 0vh;
    margin-right: 2vh;
    width: 2vh;
    accent-color: var(-dark-blue);
}

.transport-type select {
    width: 20vh;
}

#personal-data {
    display: grid;
    grid-template-columns: 20vh 20vh 20vh;
    margin-top: 2vh;
    margin-bottom: 3vh;
}

@media only screen and (max-width: 750px) {
    #personal-data {
        grid-template-columns: 20vh 20vh;
    }
}

@media only screen and (max-width: 520px) {
    #personal-data {
        grid-template-columns: 20vh;
    }
}

#personal-data input{
    margin-bottom: 1vh;
    width: 16vh;
    height: 3vh;
    font-size: 2vh;
}

#email-for-verification {
    display: inline;
}

#verification-wrong-email {
    color: red;
    margin-left: 1vh;
    font-size: 1.5vh;
}

#verify-email {
    display: block;
}

#verification-code {
    display: block;
    margin-bottom: 1vh;
}

#verify-code {
    display: block;
}

#submit-order {
    position: relative;
    display: block;
    margin: auto;
    margin-top: 0vh;
    margin-bottom: 3vh;
    padding: 1vh;
    width: 15vh;
    background: var(--whitish);
    border: 0.2vh solid black;
    font-size: 2.4vh;
}