#pane {
    position: relative;
    width: 100%;
    margin-top: 3.412rem;
    margin-bottom: 3.412rem;
    padding: 2.73rem 5.46rem;
    background: rgba(253, 251, 254, 0.74);
    border: 0.136rem solid black;
    z-index: 1;
}

#pane h2 {
    text-align: center;
    padding-bottom: 0.682rem;
    margin: auto;
    width: 20rem;
    border-bottom: 0.136rem solid black;
}

#cart {
    margin-top: 1.365rem;
    margin-bottom: 3.412rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

#products-table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    border-top: 0.171rem solid;
    border-bottom: 0.171rem solid;
}

#products-table p {
    margin-bottom: 1.024rem;
    margin-top: 1.024rem;
}

#dpd-div {
    position: relative;
    margin-bottom: 1.365rem;
}

#products-price-total {
    margin-top: 1.024rem;
    text-align: right;
}

#dpd-pickup-point-select {
    display: block;
    width: 27.3rem;
    margin-top: 0.682rem;
}

#omniva-pickup-point-select {
    display: block;
    width: 27.3rem;
    margin-top: 0.682rem;
}

#transport {
    margin-top: 1.365rem;
    margin-bottom: 3.412rem;
}

.transport-type {
    display: flex;
    flex-direction: row;
}

.transport-type input {
    margin-top: 0.0rem;
    margin-right: 1.365rem;
    width: 1.365rem;
    accent-color: var(-dark-blue);
}

.transport-type select {
    width: 13.65rem;
}

#personal-data {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content min-content;
    grid-template-rows: auto auto auto;
    column-gap: 3rem;
    margin-top: 1.365rem;
    margin-bottom: 2.047rem;
}

#personal-data label {
    display: block;
}

.my-data-inputs {
    margin-bottom: 0.682rem;
    width: 13rem;
    height: 2.73rem;
    font-size: 1.365rem;
}

#personal-data-email {
    width: 22rem;
}

#personal-data-address {
    width: 22rem;
}

#email-for-verification {
    display: inline;
}

#verification-wrong-email {
    color: red;
    margin-left: 0.682rem;
    font-size: 1.024rem;
}

#verify-email {
    display: block;
}

#verification-code {
    display: block;
    margin-bottom: 0.682rem;
}

#verify-code {
    display: block;
}

#submit-order {
    position: relative;
    display: block;
    margin: auto;
    margin-top: 0.0rem;
    margin-bottom: 2.047rem;
    padding: 0.682rem;
    width: 10.238rem;
    background: var(--whitish);
    border: 0.136rem solid black;
    font-size: 1.638rem;
}

@media only screen and (min-height: 595px) {
    #wrapper {
        margin-top: 0;
    }
    #pane {
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 645px) {
    #personal-data {
        grid-template-columns: 13.65rem;
        grid-template-rows: auto auto auto auto auto;
    }
}