:root {
    --light-orange: #FFF2D7;
    --orange:#F38F47;
    --whitish:#FDFBFE;
    --light-blue:#E2F7FF;
    --blue: #81C4DD;
    --dark-blue: #015878;
}  

svg {
    width: auto;
    height: auto;
}

:not(svg *) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-size: 0;
}

html {
    overflow-x: hidden;
}
  
body {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    overflow-x: hidden;
    background: var(--light-orange);
    min-height: 100vh;
}

#wrapper {
    position: relative;
    width: 95%;
    max-width: 81.9rem;
    margin: auto;
}

html {
    font-size: 16px;
}

@media only screen and (max-width: 770px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 660px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (max-width: 570px) {
    html {
        font-size: 10px;
    }
}

@media only screen and (max-width: 470px) {
    html {
        font-size: 8px;
    }
}

@media only screen and (max-width: 370px) {
    html {
        font-size: 7px;
    }
}

@media only screen and (max-width: 278px) {
    html {
        font-size: 6px;
    }
}

/*---Background----------------------------------------------------------------------*/

#background {
    position: fixed;
    width: 100%;
    height: 0;
    top: -10rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: -100;
}

#blue-top {
    position: absolute;
    width: 81.9rem;
    left: 50%;
    transform: translateX(-50%) rotate(-50deg);
    margin-top: -27.3rem;
    margin-left: 13.65rem;
}


#orange-top {
    position: absolute;
    width: 102.375rem;
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
    margin-top: 30.475rem;
    margin-left: -47.775rem;
}

#orange-bottom {
    position: absolute;
    width: 81.9rem;
    left: 50%;
    transform: translateX(-50%) rotate(-0deg);
    margin-top: 54.6rem;
    margin-left: 34.125rem;
}


#blue-bottom {
    position: absolute;
    width: 102.375rem;
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
    margin-top: 75.075rem;
    margin-left: -47.775rem;
}


/*---Fonts---------------------------------------------------------*/

.Grotesk {
    font-family: "Space Grotesk"
}

@font-face {
    font-family: "Special";
    src: url("fonts/UnlimitedPie.otf") format("opentype");
}

/*---Text related------------------------------------------------------------------------------*/

b {
    font-family: inherit;
    font-size: inherit;
}

h1 {
    font-family: "Space Grotesk", sans-serif;
}

h2 {
    font-size: 2.73rem;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
}

h3 {
    font-family: 'Space Grotesk', sans-serif;;
    font-size: 1.6rem
}

h4 {
    font-family: 'Space Grotesk', sans-serif;;
    font-size: 1.365rem
}

span {
    font-size: 1.6rem;
    height: auto;
    width: auto;
}

p {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.6rem;
}

label {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.6rem;
}

a {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.6rem;
    color: black;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

a:focus { text-decoration: none; }


/*---Button/input related--------------------------------------------------------------*/

button {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
    filter: brightness(95%);
}

button:active {
    cursor: pointer;
    filter: brightness(80%);
}

button {
    background: transparent;
}

button:focus {
    outline:0;
}


input, select {
    font-family: 'Space Grotesk', sans-serif;
    background-color: white;
    border-radius: 0.126rem;
    border-color: black;
    border: black solid 0.063rem;
    padding-left: 0.512rem;
}

input[type="text"] {
    padding-left: 0.341rem;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    font: 1.365rem 'Space Grotesk', sans-serif;
    font-weight: normal;
    color: #353535;
}

input[type="email"] {
    padding-left: 0.341rem;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    font: 1.365rem 'Space Grotesk', sans-serif;
    font-weight: normal;
    color: #353535;
}

input[type="password"] {
    padding-left: 0.341rem;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    font: 1.365rem 'Space Grotesk', sans-serif;
    font-weight: normal;
    color: #353535;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    font: 1.365rem 'Space Grotesk', sans-serif;
    font-weight: normal;
    color: #353535;
}
  
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

select {    
    padding-left: 0.341rem;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    font: 1.365rem 'Space Grotesk', sans-serif;
    font-weight: normal;
    color: #353535;
    font-size: 1.365rem;
    height: 2.047rem;
}

option {
    font-size: 1.024rem;
}

optgroup {
    font-size: 1.024rem;
}

/*-----------------------------------------------*/

.number-input {
    border: 0.136rem solid #ddd;
    display: inline-flex;
}

.number-input,
.number-input * {
    box-sizing: border-box;
    width: 6.825rem;
}

.number-input button {
    outline:none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 2.047rem;
    height: 2.047rem;
    cursor: pointer;
    margin: 0;
    position: relative;
    background: var(--whitish);
}

.number-input button:active {
    filter: brightness(90%);
}

.number-input button:after {
    display: inline-block;
    position: absolute;
    font-family: "Space Grotesk" sans-serif; 
    transform: translate(-50%, -50%) rotate(180deg);
    font-size: 1.4rem;
}
.number-input button.plus:after {
    content: '+';
}
.number-input button.minus:after {
    content: '-';
}

.number-input input[type=number] {
    font-family: "Space Grotesk", sans-serif; 
    max-width: 3.412rem;
    padding: 0.244rem;
    border: solid #ddd;
    border-width: 0 0.136rem;
    font-size: 1.024rem;
    height: 2.047rem;
    font-weight: bold;
    text-align: center;
}


/*---------------------------------------------------------------------*/

#notice {
    background-color: var(--whitish);
    font-family: "Space grotesk", sans-serif;
    border-bottom: 0.2rem black solid;
    text-align: center;
    padding: 1rem 1rem;
}

#notice * {
    font-size: 1.4rem;
}