:root {
    --light-orange: #FFF2D7;
    --orange:#F38F47;
    --whitish:#FDFBFE;
    --light-blue:#E2F7FF;
    --blue: #81C4DD;
    --dark-blue: #015878;
}  

svg {
    width: auto;
    height: auto;
}

:not(svg *) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-size: 0;
}

html {
    overflow-x: hidden;
}
  
body {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    overflow-x: hidden;
    background: var(--light-orange);
    min-height: 100vh;
}

#wrapper {
    position: relative;
    width: 95%;
    max-width: 81.9rem;
    margin: auto;
}

html {
    font-size: 16px;
}

@media only screen and (max-width: 770px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 660px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (max-width: 570px) {
    html {
        font-size: 10px;
    }

    #navbar ul li {
        margin-left: 0.7rem;
        margin-right: 0.7rem;
    }
}

@media only screen and (max-width: 470px) {
    html {
        font-size: 8px;
    }

    #navbar ul li {
        margin-left: 0.7rem;
        margin-right: 0.7rem;
    }
}

@media only screen and (max-width: 370px) {
    html {
        font-size: 7px;
    }

    #navbar ul li {
        margin-left: 0.7rem;
        margin-right: 0.7rem;
    }
}

@media only screen and (max-width: 278px) {
    html {
        font-size: 6px;
    }

    #navbar ul li {
        margin-left: 0.7rem;
        margin-right: 0.7rem;
    }
}

/*---Background----------------------------------------------------------------------*/

#background {
    position: fixed;
    width: 100%;
    height: 0;
    top: -10rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: -100;
}

#background>:nth-child(1) {
    position: absolute;
    width: 81.9rem;
    left: 50%;
    transform: translateX(-50%) rotate(-50deg);
    margin-top: -27rem;
    margin-left: 14rem;
}

#background>:nth-child(2) {
    position: absolute;
    width: 102.375rem;
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
    margin-top: 30rem;
    margin-left: -48rem;
}

#background>:nth-child(3) {
    position: absolute;
    width: 81.9rem;
    left: 50%;
    transform: translateX(-50%) rotate(80deg);
    margin-top: 75rem;
    margin-left: 34rem;
}

#background>:nth-child(4) {
    position: absolute;
    width: 81.9rem;
    left: 50%;
    transform: translateX(-50%) rotate(70deg);
    margin-top: 60rem;
    margin-left: -30rem;
}

/*---Paws---*/

#background>:nth-child(5) {
    position: absolute;
    width: 3rem;
    top: 25rem;
    left: 50%;
    margin-left: -55rem;
    transform: translateX(-50%) rotate(120deg);
    opacity: 50%;
}

#background>:nth-child(6) {
    position: absolute;
    width: 9rem;
    top: 45rem;
    margin-left: -6rem;
    left: 50%;
    transform: translateX(-50%) rotate(30deg);
    opacity: 25%;
}

#background>:nth-child(7) {
    position: absolute;
    width: 3rem;
    top: 21rem;
    left: 50%;
    margin-left: 37rem;
    transform: translateX(-50%) rotate(-30deg);
    opacity: 50%;
}

#background>:nth-child(8) {
    position: absolute;
    width: 6rem;
    top: 65rem;
    left: 50%;
    margin-left: -43rem;
    transform: translateX(-50%) rotate(-65deg);
    opacity: 20%;
}


/*---Fonts---------------------------------------------------------*/

@font-face {
    font-family: "Special";
    src: url("fonts/EBGaramond.ttf") format("truetype");
}

/*---Text related------------------------------------------------------------------------------*/


span {
    font-size: 1.6rem;
    height: auto;
    width: auto;
}

p {
    font-family: "Tahoma", sans-serif;
    font-size: 1.6rem;
}

label {
    font-family: "Tahoma", sans-serif;
    font-size: 1.6rem;
}

h1 {
    font-family: "Special", serif;
}

h2 {
    font-family: "Special", serif;
    font-size: 3rem;
    font-weight: bold;
}

h3 {
    font-family: "Tahoma", sans-serif;
    font-size: 1.6rem
}

h4 {
    font-family: "Tahoma", sans-serif;
    font-size: 1.4rem
}

.text-link {
    font-size: 1.6rem;
    font-family: "Tahoma", sans-serif;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

a:focus { text-decoration: none; }


/*---Button/input related--------------------------------------------------------------*/

button {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
    filter: brightness(95%);
}

button:active {
    cursor: pointer;
    filter: brightness(80%);
}

button {
    background: transparent;
}

button:focus {
    outline:0;
}


input, select {
    font-family: "Tahoma", sans-serif;
    background-color: white;
    border-radius: 0.126rem;
    border-color: black;
    border: black solid 0.063rem;
    padding-left: 0.512rem;
}

input[type="text"] {
    padding-left: 0.34rem;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    font: 1.4rem "Tahoma", sans-serif;
    font-weight: normal;
    color: #353535;
}

input::placeholder {
    padding-left: 0.34rem;
    font: 1.4rem "Tahoma", sans-serif;
}

input[type="email"] {
    padding-left: 0.34rem;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    font: 1.4rem "Tahoma", sans-serif;
    font-weight: normal;
    color: #353535;
}

input[type="password"] {
    padding-left: 0.34rem;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    font: 1.4rem "Tahoma", sans-serif;
    font-weight: normal;
    color: #353535;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    font: 1.4rem "Tahoma", sans-serif;
    font-weight: normal;
    color: #353535;
}
  
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

select {    
    padding-left: 0.34rem;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    font: 1.4rem "Tahoma", sans-serif;
    font-weight: normal;
    color: #353535;
    font-size: 1.4rem;
    height: 2.047rem;
}

option {
    font-size: 1.024rem;
}

optgroup {
    font-size: 1.024rem;
}

/*-----------------------------------------------*/

.number-input {
    border: 0.136rem solid #ddd;
    display: inline-flex;
}

.number-input,
.number-input * {
    box-sizing: border-box;
    width: 6.825rem;
}

.number-input button {
    outline:none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 2.047rem;
    height: 2.047rem;
    cursor: pointer;
    margin: 0;
    position: relative;
    background: var(--whitish);
}

.number-input button:active {
    filter: brightness(90%);
}

.number-input button:after {
    display: inline-block;
    position: absolute;
    font-family: "Tahoma" sans-serif; 
    transform: translate(-50%, -50%) rotate(180deg);
    font-size: 1.4rem;
}
.number-input button.plus:after {
    content: '+';
}
.number-input button.minus:after {
    content: '-';
}

.number-input input[type=number] {
    font-family: "Tahoma", sans-serif; 
    max-width: 3.412rem;
    padding: 0.244rem;
    border: solid #ddd;
    border-width: 0 0.136rem;
    font-size: 1.024rem;
    height: 2.047rem;
    font-weight: bold;
    text-align: center;
}


/*---------------------------------------------------------------------*/

#notice {
    background-color: var(--whitish);
    font-family: "Tahoma", sans-serif;
    border-bottom: 0.1rem black solid;
    text-align: center;
    padding: 1rem 1rem;
}

#notice * {
    font-size: 1.3rem;
}

#discount-tag {
    position: absolute;
    margin: auto;
    top: 2rem;
    left: 13rem;
    width: 9rem;
    z-index: 3;
    transform: rotate(20deg);
    filter: drop-shadow( 0.14rem 0.14rem 0.068rem rgba(0, 0, 0, 0.377));
}