
/*---Hero----------------------------------------------------------*/

#gradient {
    position: absolute;
    top: -4.778rem;
    width: 100%;
    height: 30.644rem;
    z-index: -1;
    opacity: 100%;
}

#hero {
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;   
    grid-template-columns: 20.475rem max-content;
    column-gap: 4.778rem;
    margin: auto;
    margin-top: 3rem;
    margin-top: 3rem;
    max-width: 52.552rem;
}

#feed-img {
    position: relative;
    top: -2.73rem;
    width: 20.475rem;
    z-index: 2;
    filter: drop-shadow( 0.136rem 0.136rem 0.068rem rgba(0, 0, 0, 0.377));
}

#dog-hero {
    position: relative;
    left: 12.285rem;
    top: 2.047rem;
    width: 5.46rem;
    z-index: 0;
    transform: rotate(10deg);
}

#hero-text {
    margin-top: -3.412rem;
}

#hero-text h1 {
    font-size: 3.412rem;
    font-weight: 400;
    line-height: 3.412rem;
}

#hero-text button {
    position: relative;
    top: 1.365rem;
    padding: 0.682rem 2rem;
    background: var(--whitish);
    border: 0.136rem solid black;
    font-size: 1.6rem;
}


@media only screen and (max-width: 859px) {

    #hero {
        column-gap: 2.047rem;
    }

    #hero-text {
        width: 21.84rem;
    }

    #hero-text h1 {
        font-size: 2.7rem;
        font-weight: 500;
    }
}

/*---Products----------------------------------------------------------*/

#products {
    position: relative;
    width: 100%;
    margin-bottom: 3.412rem;
    padding: 2.73rem 0.0rem;
    background: rgba(253, 251, 254, 0.74);
    border: 0.136rem solid black;
    z-index: 1;
}

#products h2 {
    text-align: center;
    padding-bottom: 0.682rem;
    margin: auto;
    width: 13.65rem;
    border-bottom: 0.136rem solid black;
}

/*---Feeds---*/

#products-grid {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    margin-top: 8.19rem;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 6.825rem;

}

#products-grid>div {
    position: relative;
    background: var(--whitish);
    padding: 1.7rem 4rem;
    padding-bottom: 2.5rem;
    border: 0.136rem solid black;
}

#products-grid h3 {
    position: relative;
    font-size: 1.843rem;
    font-weight: 700;
}

#products-grid p {
    position: relative;
    font-size: 1.365rem;
}

.input-div {
    margin-top: 1.365rem;
}

#products-grid span {
    position: relative;
    display: block;
    top: 0.375rem;
    height: 3.412rem;
    font-size: 1.365rem;
    font-family: "Space Grotesk";
}

/* Animals on top */
#products-grid>div>img:first-child {
    position: absolute;
    z-index: -5;
}

/* Cat on top */
#cat-food>img:first-child {
    width: 8.872rem;
    margin-left: -1.5rem;
    top: -6.825rem;
    left: 50%;
    transform: translateX(-50%);
}

/* Dog on top */
#dog-food>img:first-child {
    width: 6.825rem;
    margin-left: 0.5rem;
    top: -6.484rem;
    left: 50%;
    transform: translateX(-50%);
}

/* Feed images */
#products-grid>div>img:nth-child(2) {
    position: relative;
    display: block;
    width: 13.65rem;
    margin: auto;
    filter: drop-shadow( 0.136rem 0.136rem 0.068rem rgba(0, 0, 0, 0.377));
}

.number-input {
    margin-bottom: 1rem;
}

.add-cart {
    position: relative;
    display: block;
    margin: auto;
    margin-top: 1rem;
    padding: 0.682rem 2rem;
    background: var(--whitish);
    border: 0.136rem solid black;
    font-size: 1.6rem;
}

.add-cart:active {
    filter: brightness(90%);
}

@media only screen and (max-width: 1250px) {
    #products-grid {
        flex-direction: column;
    }

    #products-grid>div:first-child {
        margin-bottom: 10.238rem;
    }
}

/*---Formula---*/

#products hr {
    position: relative;
    margin: auto;
    border-top: 0.136rem solid black;
    width: 35%;
}

#formula-text {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-size: 2.047rem;
    padding: 2.73rem 0.0rem;
}

/*---Labels---*/

#labels {
    display: flex;
    margin-top: 3.412rem;
    margin-bottom: 2.047rem;
    justify-content: center;
}

#labels img {
    width: 10.238rem;
}