/*---Navigation bar------------------------------------------------*/

#navbar {
    display: flex;
    position: relative;
    margin: auto;
    margin-top: 1vh;
    top: 1vh;
    width: 87%;
    max-width: 120vh;
    padding: 0 3vh;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    border-bottom: 0.25vh solid black;
}

#navbar-logo {
    width: 15vh;
    height: 100%;
}

#navbar ul a {
    display: block;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2.31vh;
    text-decoration: none;
    text-align: center;
}

#navbar ul li {
    display: inline-block;
    padding: 0.46vh;
    position: relative;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
    margin-left: 2vh;
    margin-right: 2vh;
}

#navbar ul li:first-child { margin-left: 0vh; }
#navbar ul li:last-child { margin-right: 0vh; }

#navbar ul li:last-child img {
    position: relative;
    width: 3vh;
    margin-bottom: -0.3vh;

}

.navbar-li:after,
.navbar-li:before {
    content: "";
    position: absolute;
    display: block;
    border: 0px solid transparent;
    width: 0%;
    height: 0%;
    transition: all 0.3s ease;
}

.navbar-li:before {
    width: 0%;
    height: 0%;
    right: 0;
    bottom: 0;
    border-bottom: 0.185vh solid transparent;
    border-right: 0.185vh solid transparent;
    z-index: 1000;
}

.navbar-li:after {
    width: 0%;
    height: 0%;
    top: 0;
    left: 0;
    border-top: 0.185vh solid transparent;
    border-left: 0.185vh solid transparent;
}

.navbar-li:hover::before,
.navbar-li:hover::after {
    width: 0.93vh;
    height: 0.93vh;
    border-color: var(--pink);
    z-index: 1000;
}

#cart-counter {
    position: absolute;
    top: -0.4vh;
    left: 2.6vh;
    width: 2vh;
    height: 2vh;
    border-radius: 5vh;
    font-family: "Space Grotesk";
    font-size: 1.5vh;
    text-align: center;
    color: white;
    background: var(--orange);
}