<footer>
    <div id="footer-content-container">
        <div id="footer-grid-content-container">
            <div id="copyright-container">
                <img src="/img/vegato_logo_white.png" id="footer-logo" alt="vegato logo">
                <p>Copyright © 2022 Vegato TÜ</p>
                <a href="">Privacy Policy</a>
            </div>
            <div id="newsletter-container">
                <h4>subscribe to our newsletter</h4>
                <input id="newsletterEmailInput" type="text" placeholder="Add your email">
                <button id="newsletterEmailButton">sign up</button>
            </div>
        </div>
    </div>
</footer>